h1 {

    color: darkred;

    font-family: 'Courier New', Courier, monospace;

    text-align: center;

}




h2  {

font-family: 'Courier New', Courier, monospace;


}
p {

font-family: 'Courier New', Courier, monospace;

font-size: medium;

}

img {

border: 2px solid #000;

}


li {


font-size: large;

font-weight: bold;

}

body {

background-color: aliceblue;

line-height: 1.5;



}
