li {

font-size: large;

line-height: 1.5;

padding: 100;

}


body {

background-color: #f2f2f2;

font-size: large;

font-family: 'Courier New', Courier, monospace;

padding: 100px;

line-height: 1.5;


}

h1 {

    color: darkred;

    font-family: 'Courier New', Courier, monospace

}




h2  {

font-family: 'Courier New', Courier, monospace;


}
p {

font-family: 'Courier New', Courier, monospace;

font-size: medium;

line-height: 1.5;

}

img {

border: 2px solid #000;

margin: 10px;

display: inline;

}

